<%- include("partials/header") -%>




<div class="container all">
  <div class="row">
    <div class="col-3">
      <div class="left">
        <img src="images/logo.png" alt="Caspian" class="transcript-img1">
      </div>
    </div>
    <div class="col">
      <div class="right">
        <div class="container">
          <div class="row">
            <div class="col-8">
              <table class="table table-bordered information">
                <tr>
                  <td class="bold">Name Surname:</td>
                  <td>Ridwan Dayib Hashi</td>
                </tr>
                <tr>
                  <td class="bold">Advisor:</td>
                  <td>Лариса Мятлев</td>
                </tr>
                <tr>
                  <td class="bold">Major Program:</td>
                  <td>устойчивость гражданской инфраструктуры</td>
                </tr>
              </table>
            </div>
            <div class="col-4">
              <img src="images/profile2.jpeg" alt="100200105" class="transcript-img2">
            </div>
          </div>
        </div>
        <h2>Transcript</h2>
        <div id="information2">
          <div class="container">
            <div class="row">
              <div class="col">
                <table class="table table-borderless">
                  <tr>
                    <td class="bold">Student №:</td>
                    <td>100200105</td>
                  </tr>
                  <tr>
                    <td class="bold">Student Name:</td>
                    <td>Ridwan Dayib Hashi</td>
                  </tr>
                  <tr>
                    <td class="bold">Level:</td>
                    <td>Bachelor</td>
                  </tr>
                  <tr>
                    <td class="bold">Entry Date:</td>
                    <td>11.08.2018</td>
                  </tr>
                </table>
              </div>
              <div class="col">
                <table class="table table-borderless">
                  <tr>
                    <td class="bold">Faculty:</td>
                    <td>Environmental Engineering</td>
                  </tr>
                  <tr>
                    <td class="bold">Specialty:</td>
                    <td>1E420009 - S.S.Infrastructure</td>
                  </tr>
                  <tr>
                    <td class="bold">Education Language:</td>
                    <td>English</td>
                  </tr>
                  <tr>
                    <td class="bold">Graduation Date:</td>
                    <td>11.08.2020</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="points">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Course code</th>
                  <th>Course title</th>
                  <th>Internal credit</th>
                  <th>Credit/ECTS</th>
                  <th>Grade</th>
                  <th>Letter Grade</th>
                  <th>Point</th>
                  <th>Traditional</th>
                </tr>
              </thead>
              <tr>
                <td>2018-2020</td>
              </tr>
              <tbody class="center">
                <tr>
                  <td>ENG-1-A</td>
                  <td>Material flow analysis</td>
                  <td>3</td>
                  <td>5</td>
                  <td>80</td>
                  <td>B</td>
                  <td>3</td>
                  <td>Good</td>
                </tr>
                <tr>
                  <td>ETL-1-A</td>
                  <td>Energy Systems</td>
                  <td>3</td>
                  <td>5</td>
                  <td>96</td>
                  <td>A</td>
                  <td>4</td>
                  <td>Excellent</td>
                </tr>
                <tr>
                  <td>HSS-1-A</td>
                  <td>Managerial Sciences</td>
                  <td>3</td>
                  <td>5</td>
                  <td>83</td>
                  <td>B</td>
                  <td>3</td>
                  <td>Good</td>
                </tr>
                <tr>
                  <td>ENG-2-B</td>
                  <td>Transportation Sustainability</td>
                  <td>3</td>
                  <td>5</td>
                  <td>79</td>
                  <td>B-</td>
                  <td>2.67</td>
                  <td>Good</td>
                </tr>
                <tr>
                  <td>ETL-2-B</td>
                  <td>Brownfield Redevelopment</td>
                  <td>3</td>
                  <td>5</td>
                  <td>87</td>
                  <td>B+</td>
                  <td>3.33</td>
                  <td>Good</td>
                </tr>
                <tr>
                  <td>HSS-2-B</td>
                  <td>Public Transportation Systems</td>
                  <td>2</td>
                  <td>3</td>
                  <td>94</td>
                  <td>A-</td>
                  <td>3.67</td>
                  <td>Excellent</td>
                </tr>
                <tr>
                  <td>ENG-3-C</td>
                  <td>Air Transportation</td>
                  <td>3</td>
                  <td>5</td>
                  <td>83</td>
                  <td>B</td>
                  <td>3</td>
                  <td>Good</td>
                </tr>
                <tr>
                  <td>ETL-3-C</td>
                  <td>Air Quality Engineering</td>
                  <td>3</td>
                  <td>3</td>
                  <td>86</td>
                  <td>B+</td>
                  <td>3.33</td>
                  <td>Good</td>
                </tr>
                <tr>
                  <td>HSS-3-C</td>
                  <td>Carbon Cycle Dynamics</td>
                  <td>2</td>
                  <td>3</td>
                  <td>91</td>
                  <td>A-</td>
                  <td>3.67</td>
                  <td>Excellent</td>
                </tr>
                <tr>
                  <td>ENG-4-D</td>
                  <td>Exposure Assessment and Control</td>
                  <td>3</td>
                  <td>5</td>
                  <td>73</td>
                  <td>C+</td>
                  <td>2.33</td>
                  <td>Good</td>
                </tr>
                <tr>
                  <td>ETL-4-D</td>
                  <td>Environmental Economics</td>
                  <td>3</td>
                  <td>5</td>
                  <td>91</td>
                  <td>A-</td>
                  <td>3.67</td>
                  <td>Excellent</td>
                </tr>
                <tr>
                  <td>HSS-4-D</td>
                  <td>Green Buildings</td>
                  <td>2</td>
                  <td>5</td>
                  <td>97</td>
                  <td>A</td>
                  <td>4</td>
                  <td>Excellent</td>
                </tr>
                <tr>
                  <td>LST-100</td>
                  <td>Sustainable Aviation and Infrastructure</td>
                  <td>3</td>
                  <td>5</td>
                  <td>83</td>
                  <td>B</td>
                  <td>3</td>
                  <td>Good</td>
                </tr>
                <tr>
                  <td>LST-101</td>
                  <td>FHWA INVEST</td>
                  <td>3</td>
                  <td>5</td>
                  <td>79</td>
                  <td>B-</td>
                  <td>2.67</td>
                  <td>Good</td>
                </tr>
                <tr>
                  <td>LST-102</td>
                  <td>LEED ND Neighborhood Patterns</td>
                  <td>3</td>
                  <td>5</td>
                  <td>77</td>
                  <td>B-</td>
                  <td>2.67</td>
                  <td>Good</td>
                </tr>
                <tr>
                  <td>LST-103</td>
                  <td>graduational assessment</td>
                  <td>3</td>
                  <td>5</td>
                  <td>92</td>
                  <td>A-</td>
                  <td>3.67</td>
                  <td>Excellent</td>
                </tr>
                <tr class="final-row">
                  <td></td>
                  <td></td>
                  <td>45</td>
                  <td>74</td>
                  <td>SA : 85.7</td>
                  <td>GA : 85.7</td>
                  <td>SPA : 3.23</td>
                  <td>GPA : 3.23</td>
                </tr>
              </tbody>
            </table>
            <table class="table table-borderless">
              <tr class="final-row">
                <td>Total Internal Credits : 45</td>
                <td>Total credits/ECTS : 74</td>
                <td>Grand Average : 85.7</td>
                <td>Grand GPA : 3.23</td>
              </tr>
            </table>
          </div>
          <div class="description">
            <table class="table table-borderless">
              <tr>
                <td>Notes :</td>
              </tr>
              <tr>
                <td>* : Repeated course</td>
                <td>GA : Grade Average in Percent</td>
                <td>GPA : Grade point average (out of 4.0)</td>
              </tr>
              <tr>
                <td>** : Transfered course</td>
                <td>SA : Semester Average in Percent</td>
                <td>SPA : Semester point average (out of 4.0)</td>
              </tr>
            </table>
          </div>
          <div class="last">
            <table class="table table-borderless">
              <tr>
                <td>C + (good) was commissioned in accordance with the order of the MES of the Republic of Kazakhstan No. 563 of October 12, 2018.
Courses that are excluded from GPA calculation have following grades: P - Pass (50%-100%); NP - Not Pass (0%-49%).</td>
              </tr>
              <tr>
                <td>Furmulae for calculating grand and semester grade indicators:
GPA = Sum of (Point * Credit) / Sum of Credits
SPA = Sum of (Point * Credit) in semester / Sum of Credits in semester
GA = Sum of (Grade * Credit) / Sum of Credits
SA = Sum of (Grade * Credit) in semester / Sum of Credits in semester</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="print">
          <button type="button" onclick="window.print();">Print</button>
        </div>
      </div>
    </div>
  </div>
</div>
