<%- include("partials/header") -%>




<div class="container all">
  <div class="row">
    <div class="col-3">
      <div class="left">
        <img src="images/logo.png" alt="Caspian" class="transcript-img1">
      </div>
    </div>
    <div class="col">
      <div class="right">
        <div id="information2">
          <div class="container">
            <div class="row">
              <div class="col">
                <table class="table table-borderless">
                  <tr>
                    <td class="bold">Student №:</td>
                    <td>170107015</td>
                  </tr>
                  <tr>
                    <td class="bold">Student Name:</td>
                    <td>Abdalla Hussein Mohamed</td>
                  </tr>
                  <tr>
                    <td class="bold">Level:</td>
                    <td>Bachelor</td>
                  </tr>
                  <tr>
                    <td class="bold">Entry Date:</td>
                    <td>08.17.2017</td>
                  </tr>
                </table>
              </div>
              <div class="col">
                <table class="table table-borderless">
                  <tr>
                    <td class="bold">Faculty:</td>
                    <td>Faculty of Engineering and Natural Sciences</td>
                  </tr>
                  <tr>
                    <td class="bold">Specialty:</td>
                    <td>5B070400 - Computing Systems and Software</td>
                  </tr>
                  <tr>
                    <td class="bold">Language:</td>
                    <td>English</td>
                  </tr>
                  <tr>
                    <td class="bold">Graduation Date:</td>
                    <td>06.21.2021</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="points">
            <table class="table table-bordered">
              <thead style="margin-bottom:0px; border-style:hidden; text-align:center">
                <tr>
                  <th>Course code</th>
                  <th>Course title</th>
                  <th>Internal credit</th>
                  <th>Credit/ECTS</th>
                  <th>Grade</th>
                  <th>Letter Grade</th>
                  <th>Point</th>
                  <th>Traditional</th>
                </tr>
              </thead>
              <tr class="semesters">
                <td>2017 - 2018. 1</td>
              </tr>
              <tbody class="center">
                <tr>
                  <td>CSS 103</td>
                  <td class="courseName">Algorithms and Programming</td>
                  <td>3</td>
                  <td>5</td>
                  <td>95</td>
                  <td>A</td>
                  <td>4</td>
                  <td>Excellent</td>
                </tr>
                <tr>
                  <td>HSS 111</td>
                  <td class="courseName">Modern History of Kazakhstan</td>
                  <td>3</td>
                  <td>5</td>
                  <td>81</td>
                  <td>B</td>
                  <td>3</td>
                  <td>Good</td>
                </tr>
                <tr>
                  <td>HSS 195</td>
                  <td class="courseName">Physical Training 1</td>
                  <td>2</td>
                  <td>2</td>
                  <td>89</td>
                  <td>P</td>
                  <td></td>
                  <td>Pass</td>
                </tr>
                <tr>
                  <td>MAT 151</td>
                  <td class="courseName">Algebra and Geometry</td>
                  <td>3</td>
                  <td>5</td>
                  <td>90</td>
                  <td>A-</td>
                  <td>3.67</td>
                  <td>Excellent</td>
                </tr>
                <tr>
                  <td>MAT 153</td>
                  <td class="courseName">Mathematics for Computer Science 1</td>
                  <td>3</td>
                  <td>5</td>
                  <td>76</td>
                  <td>B-</td>
                  <td>2.67</td>
                  <td>Good</td>
                </tr>
                <tr>
                  <td>RUS 101</td>
                  <td class="courseName">Russian Language 1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>92</td>
                  <td>A-</td>
                  <td>3.67</td>
                  <td>Excellent</td>
                </tr>
                <tr>
                  <td>TFL 161</td>
                  <td class="courseName">English Language 1</td>
                  <td>3</td>
                  <td>5</td>
                  <td>80</td>
                  <td>B</td>
                  <td>3</td>
                  <td>Good</td>
                </tr>
                <tr>
                  <td>TUR 101</td>
                  <td class="courseName">Turkish Language 1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>88</td>
                  <td>P</td>
                  <td></td>
                  <td>Pass</td>
                </tr>
                <tr class="final-row">
                  <td></td>
                  <td></td>
                  <td>21</td>
                  <td>33</td>
                  <td>SA : 85.7</td>
                  <td>GA : 85.7</td>
                  <td>SPA : 3.34</td>
                  <td>GPA : 3.34</td>
                </tr>
              </tbody>
              <tr class="semesters">
                <td>2017 - 2018. 2</td>
              </tr>
              <tbody class="center">
                <tr>
                  <td>CSS 102</td>
                  <td class="courseName">Programming Technologies</td>
                  <td>3</td>
                  <td>5</td>
                  <td>90</td>
                  <td>A-</td>
                  <td>3.67</td>
                  <td>Excellent</td>
                </tr>
                <tr>
                  <td>CSS 152</td>
                  <td class="courseName">Physics 1</td>
                  <td>3</td>
                  <td>5</td>
                  <td>90</td>
                  <td>A-</td>
                  <td>3.67</td>
                  <td>Excellent</td>
                </tr>
                <tr>
                  <td>CSS 198</td>
                  <td class="courseName">Educational practice</td>
                  <td>2</td>
                  <td>1</td>
                  <td>95</td>
                  <td>A</td>
                  <td>4</td>
                  <td>Excellent</td>
                </tr>
                <tr>
                  <td>HSS 196</td>
                  <td class="courseName">Physical Training 2</td>
                  <td>2</td>
                  <td>2</td>
                  <td>81</td>
                  <td>P</td>
                  <td></td>
                  <td>Pass</td>
                </tr>
                <tr>
                  <td>INF 106</td>
                  <td class="courseName">Information and Communications Technologies (Computer Science)</td>
                  <td>3</td>
                  <td>5</td>
                  <td>76</td>
                  <td>B-</td>
                  <td>2.67</td>
                  <td>Good</td>
                </tr>
                <tr>
                  <td>MAT 156</td>
                  <td class="courseName">Discrete Mathematics</td>
                  <td>3</td>
                  <td>5</td>
                  <td>89</td>
                  <td>B+</td>
                  <td>3.33</td>
                  <td>Good</td>
                </tr>
                <tr>
                  <td>MAT 158</td>
                  <td class="courseName">Mathematics for Computer Science 2</td>
                  <td>2</td>
                  <td>3</td>
                  <td>89</td>
                  <td>B+</td>
                  <td>3.33</td>
                  <td>Good</td>
                </tr>
                <tr>
                  <td>TFL 164</td>
                  <td class="courseName">English Language 2</td>
                  <td>3</td>
                  <td>5</td>
                  <td>80</td>
                  <td>B</td>
                  <td>3</td>
                  <td>Good</td>
                </tr>
                <tr>
                  <td>TUR 102</td>
                  <td class="courseName">Turkish Language 2</td>
                  <td>2</td>
                  <td>3</td>
                  <td>88</td>
                  <td>P</td>
                  <td></td>
                  <td>Pass</td>
                </tr>
                <tr>
                  <td>RUS 102</td>
                  <td class="courseName">Russian Language 2</td>
                  <td>3</td>
                  <td>5</td>
                  <td>92</td>
                  <td>A-</td>
                  <td>3.67</td>
                  <td>Excellent</td>
                </tr>
                <tr class="final-row">
                  <td></td>
                  <td></td>
                  <td>26</td>
                  <td>39</td>
                  <td>SA : 87.6</td>
                  <td>GA : 86.7</td>
                  <td>SPA : 3.42</td>
                  <td>GPA : 3.38</td>
                </tr>
              </tbody>
              <tr class="semesters">
                <td>2018 - 2019. 1</td>
              </tr>
              <tbody class="center">
                <tr>
                  <td>CSS 211</td>
                  <td class="courseName">Electronics</td>
                  <td>2</td>
                  <td>3</td>
                  <td>81</td>
                  <td>B</td>
                  <td>3</td>
                  <td>Good</td>
                </tr>
                <tr>
                  <td>CSS 215</td>
                  <td class="courseName">Introduction to Algorithms</td>
                  <td>3</td>
                  <td>5</td>
                  <td>95</td>
                  <td>A</td>
                  <td>4</td>
                  <td>Excellent</td>
                </tr>
                <tr>
                  <td>CSS 224</td>
                  <td class="courseName">Programming abstractions</td>
                  <td>3</td>
                  <td>5</td>
                  <td>90</td>
                  <td>A-</td>
                  <td>3.67</td>
                  <td>Excellent</td>
                </tr>
                <tr>
                  <td>CSS 225</td>
                  <td class="courseName">Web programming fundamentals</td>
                  <td>3</td>
                  <td>5</td>
                  <td>76</td>
                  <td>B-</td>
                  <td>2.67</td>
                  <td>Good</td>
                </tr>
                <tr>
                  <td>CSS 312</td>
                  <td class="courseName">Computer Networks 1</td>
                  <td>3</td>
                  <td>5</td>
                  <td>89</td>
                  <td>B+</td>
                  <td>3.33</td>
                  <td>Good</td>
                </tr>
                <tr>
                  <td>HSS 295</td>
                  <td class="courseName">Physical Training 3</td>
                  <td>2</td>
                  <td>2</td>
                  <td>92</td>
                  <td>P</td>
                  <td></td>
                  <td>Pass</td>
                </tr>
                <tr>
                  <td>MAT 251</td>
                  <td class="courseName">Probability and Mathematical Statictics</td>
                  <td>3</td>
                  <td>5</td>
                  <td>80</td>
                  <td>B</td>
                  <td>3</td>
                  <td>Good</td>
                </tr>
                <tr>
                  <td>TUR 213</td>
                  <td class="courseName">Turkish Language 3</td>
                  <td>2</td>
                  <td>3</td>
                  <td>88</td>
                  <td>P</td>
                  <td></td>
                  <td>Pass</td>
                </tr>
                <tr>
                  <td>TRA 336</td>
                  <td class="courseName">Professional Russian Language</td>
                  <td>2</td>
                  <td>3</td>
                  <td>88</td>
                  <td>B+</td>
                  <td>3.33</td>
                  <td>Good</td>
                </tr>
                <tr class="final-row">
                  <td></td>
                  <td></td>
                  <td>23</td>
                  <td>36</td>
                  <td>SA : 85.6</td>
                  <td>GA : 86.3</td>
                  <td>SPA : 3.29</td>
                  <td>GPA : 3.35</td>
                </tr>
              </tbody>
              <tr class="semesters">
                <td>2018 - 2019. 2</td>
              </tr>
              <tbody class="center">
                <tr>
                  <td>CSS 206</td>
                  <td class="courseName">Database Management Systems 1</td>
                  <td>3</td>
                  <td>5</td>
                  <td>89</td>
                  <td>B+</td>
                  <td>3.33</td>
                  <td>Good</td>
                </tr>
                <tr>
                  <td>CSS 208</td>
                  <td class="courseName">Computer Organization and Architecture</td>
                  <td>3</td>
                  <td>5</td>
                  <td>81</td>
                  <td>B</td>
                  <td>3</td>
                  <td>Good</td>
                </tr>
                <tr>
                  <td>CSS 254</td>
                  <td class="courseName">Digital design</td>
                  <td>2</td>
                  <td>3</td>
                  <td>90</td>
                  <td>A-</td>
                  <td>3.67</td>
                  <td>Excellent</td>
                </tr>
                <tr>
                  <td>CSS 220</td>
                  <td class="courseName">Advanced Algorithms</td>
                  <td>3</td>
                  <td>3</td>
                  <td>88</td>
                  <td>B+</td>
                  <td>3.33</td>
                  <td>Good</td>
                </tr>
                <tr>
                  <td>HSS 296</td>
                  <td class="courseName">Physical Training 4</td>
                  <td>2</td>
                  <td>2</td>
                  <td>76</td>
                  <td>P</td>
                  <td></td>
                  <td>Pass</td>
                </tr>
                <tr>
                  <td>INF 210</td>
                  <td class="courseName">Professional English Language</td>
                  <td>2</td>
                  <td>3</td>
                  <td>95</td>
                  <td>A</td>
                  <td>4</td>
                  <td>Excellent</td>
                </tr>
                <tr>
                  <td>TUR 214</td>
                  <td class="courseName">Turkish Language 4</td>
                  <td>2</td>
                  <td>3</td>
                  <td>92</td>
                  <td>P</td>
                  <td></td>
                  <td>Pass</td>
                </tr>
                <tr>
                  <td>CSS 439</td>
                  <td class="courseName">Distributed Big Data Systems</td>
                  <td>3</td>
                  <td>5</td>
                  <td>80</td>
                  <td>B</td>
                  <td>3</td>
                  <td>Good</td>
                </tr>
                <tr>
                  <td>HSS 132</td>
                  <td class="courseName">Ecology and Sustainable Development</td>
                  <td>2</td>
                  <td>3</td>
                  <td>81</td>
                  <td>B</td>
                  <td>3</td>
                  <td>Good</td>
                </tr>
                <tr class="final-row">
                  <td></td>
                  <td></td>
                  <td>22</td>
                  <td>32</td>
                  <td>SA : 86.3</td>
                  <td>GA : 86.3</td>
                  <td>SPA : 3.33</td>
                  <td>GPA : 3.35</td>
                </tr>
              </tbody>
              <tr class="semesters">
                <td>2019 - 2020. 1</td>
              </tr>
              <tbody class="center">
                <tr>
                  <td>CSS 305</td>
                  <td class="courseName">Database Management Systems 2</td>
                  <td>3</td>
                  <td>5</td>
                  <td>89</td>
                  <td>B+</td>
                  <td>3.33</td>
                  <td>Good</td>
                </tr>
                <tr>
                  <td>CSS 307</td>
                  <td class="courseName">System Programming</td>
                  <td>3</td>
                  <td>5</td>
                  <td>95</td>
                  <td>A</td>
                  <td>4</td>
                  <td>Excellent</td>
                </tr>
                <tr>
                  <td>CSS 391</td>
                  <td class="courseName">Internship 1</td>
                  <td>2</td>
                  <td>5</td>
                  <td>81</td>
                  <td>B</td>
                  <td>3</td>
                  <td>Good</td>
                </tr>
                <tr>
                  <td>MDE 172</td>
                  <td class="courseName">Philosophy</td>
                  <td>3</td>
                  <td>5</td>
                  <td>76</td>
                  <td>B-</td>
                  <td>2.67</td>
                  <td>Good</td>
                </tr>
                <tr>
                  <td>CSS 303</td>
                  <td class="courseName">Foundations of Information and Cyber Security</td>
                  <td>3</td>
                  <td>5</td>
                  <td>90</td>
                  <td>A-</td>
                  <td>3.67</td>
                  <td>Excellent</td>
                </tr>
                <tr>
                  <td>CSS 313</td>
                  <td class="courseName">Embedded Systems</td>
                  <td>3</td>
                  <td>5</td>
                  <td>92</td>
                  <td>A-</td>
                  <td>3.67</td>
                  <td>Excellent</td>
                </tr>
                <tr>
                  <td>MDE 161</td>
                  <td class="courseName">Еconomy</td>
                  <td>3</td>
                  <td>5</td>
                  <td>80</td>
                  <td>B</td>
                  <td>3</td>
                  <td>Good</td>
                </tr>
                <tr class="final-row">
                  <td></td>
                  <td></td>
                  <td>20</td>
                  <td>35</td>
                  <td>SA : 86.1</td>
                  <td>GA : 86.3</td>
                  <td>SPA : 3.33</td>
                  <td>GPA : 3.34</td>
                </tr>
              </tbody>
              <tr class="semesters">
                <td>2019 - 2020. 2</td>
              </tr>
              <tbody class="center">
                <tr>
                  <td>CSS 302</td>
                  <td class="courseName">Software Engineering</td>
                  <td>2</td>
                  <td>3</td>
                  <td>80</td>
                  <td>B</td>
                  <td>3</td>
                  <td>Good</td>
                </tr>
                <tr>
                  <td>CSS 322</td>
                  <td class="courseName">Formal Languages and Automata Theory</td>
                  <td>3</td>
                  <td>5</td>
                  <td>95</td>
                  <td>A</td>
                  <td>4</td>
                  <td>Excellent</td>
                </tr>
                <tr>
                  <td>MAT 364</td>
                  <td class="courseName">Cryptography</td>
                  <td>3</td>
                  <td>5</td>
                  <td>81</td>
                  <td>B</td>
                  <td>3</td>
                  <td>Good</td>
                </tr>
                <tr>
                  <td>MAT 443</td>
                  <td class="courseName">Graph Theory</td>
                  <td>3</td>
                  <td>5</td>
                  <td>76</td>
                  <td>B-</td>
                  <td>2.67</td>
                  <td>Good</td>
                </tr>
                <tr>
                  <td>INF 328</td>
                  <td class="courseName">3D modeling</td>
                  <td>3</td>
                  <td>5</td>
                  <td>89</td>
                  <td>B+</td>
                  <td>3.33</td>
                  <td>Good</td>
                </tr>
                <tr>
                  <td>CSS 306</td>
                  <td class="courseName">Cyber Security</td>
                  <td>3</td>
                  <td>5</td>
                  <td>90</td>
                  <td>A-</td>
                  <td>3.67</td>
                  <td>Excellent</td>
                </tr>
                <tr>
                  <td>MDE 186</td>
                  <td class="courseName">Political Science</td>
                  <td>2</td>
                  <td>3</td>
                  <td>92</td>
                  <td>A-</td>
                  <td>3.67</td>
                  <td>Excellent</td>
                </tr>
                <tr class="final-row">
                  <td></td>
                  <td></td>
                  <td>19</td>
                  <td>31</td>
                  <td>SA : 86.1</td>
                  <td>GA : 86.2</td>
                  <td>SPA : 3.33</td>
                  <td>GPA : 3.34</td>
                </tr>
              </tbody>
              <tr class="semesters">
                <td>2020 - 2021. 1</td>
              </tr>
              <tbody class="center">
                <tr>
                  <td>CSS 431</td>
                  <td class="courseName">Collective Intelligence</td>
                  <td>3</td>
                  <td>5</td>
                  <td>81</td>
                  <td>B</td>
                  <td>3</td>
                  <td>Good</td>
                </tr>
                <tr>
                  <td>CSS 450</td>
                  <td class="courseName">Industrial project (Introduction)</td>
                  <td>3</td>
                  <td>5</td>
                  <td>95</td>
                  <td>A</td>
                  <td>4</td>
                  <td>Excellent</td>
                </tr>
                <tr>
                  <td>CSS 451</td>
                  <td class="courseName">Industrial project (Development)</td>
                  <td>3</td>
                  <td>5</td>
                  <td>90</td>
                  <td>A-</td>
                  <td>3.67</td>
                  <td>Excellent</td>
                </tr>
                <tr>
                  <td>CSS 452</td>
                  <td class="courseName">Industrial project (Design)</td>
                  <td>3</td>
                  <td>5</td>
                  <td>76</td>
                  <td>B-</td>
                  <td>2.67</td>
                  <td>Good</td>
                </tr>
                <tr>
                  <td>CSS 453</td>
                  <td class="courseName">Industrial project (Testing)</td>
                  <td>3</td>
                  <td>5</td>
                  <td>89</td>
                  <td>B+</td>
                  <td>3.33</td>
                  <td>Good</td>
                </tr>
                <tr class="final-row">
                  <td></td>
                  <td></td>
                  <td>15</td>
                  <td>25</td>
                  <td>SA : 86.2</td>
                  <td>GA : 86.2</td>
                  <td>SPA : 3.33</td>
                  <td>GPA : 3.34</td>
                </tr>
              </tbody>
              <tr class="semesters">
                <td>2020 - 2021. 2</td>
              </tr>
              <tbody class="center">
                <tr>
                  <td>CSS 410</td>
                  <td class="courseName">Research tools and methods</td>
                  <td>3</td>
                  <td>5</td>
                  <td>90</td>
                  <td>A-</td>
                  <td>3.67</td>
                  <td>Excellent</td>
                </tr>
                <tr>
                  <td>INF 494</td>
                  <td class="courseName">Internship (Pregraduational Internship)</td>
                  <td>2</td>
                  <td>4</td>
                  <td>95</td>
                  <td>A</td>
                  <td>4</td>
                  <td>Excellent</td>
                </tr>
                <tr>
                  <td>CSS 484</td>
                  <td class="courseName">Defense of Graduation Thesis (Computer Science)</td>
                  <td>3</td>
                  <td>12</td>
                  <td>81</td>
                  <td>B</td>
                  <td>3</td>
                  <td>Good</td>
                </tr>
                <tr class="final-row">
                  <td></td>
                  <td></td>
                  <td>8</td>
                  <td>21</td>
                  <td>SA : 88.7</td>
                  <td>GA : 86.5</td>
                  <td>SPA : 3.56</td>
                  <td>GPA : 3.37</td>
                </tr>
              </tbody>
            </table>
            <table class="table table-borderless">
              <tr class="final-row total">
                <td>Total Internal Credits : 154</td>
                <td>Total credits/ECTS : 252</td>
                <td>Grand Average : 86.5</td>
                <td>Grand GPA : 3.37</td>
              </tr>
            </table>
          </div>
          <div class="description">
            <table class="table table-borderless">
              <tr>
                <td>Notes :</td>
              </tr>
              <tr>
                <td>* : Repeated course</td>
                <td>GA : Grade Average in Percent</td>
                <td>GPA : Grade point average (out of 4.0)</td>
              </tr>
              <tr>
                <td>** : Transfered course</td>
                <td>SA : Semester Average in Percent</td>
                <td>SPA : Semester point average (out of 4.0)</td>
              </tr>
            </table>
          </div>
          <div class="last">
            <table class="grades">
              <tbody>
                <tr>
                  <td colspan="4">Grade</td>
                </tr>
                <tr>
                  <td>In Percent</td>
                  <td>Alphabetic</td>
                  <td>In Points</td>
                  <td>Traditional</td>
                </tr>
                <tr>
                  <td>95 - 100</td>
                  <td>A</td>
                  <td>4</td>
                  <td rowspan="2">Excellent</td>
                </tr>

                <tr>
                  <td>90 - 94</td>
                  <td>A-</td>
                  <td>3.67</td>
                </tr>
                <tr>
                  <td>85 - 89</td>
                  <td>B+</td>
                  <td>3.33</td>
                  <td rowspan="4">Good</td>
                </tr>
                <tr>
                  <td>80 - 84</td>
                  <td>B</td>
                  <td>3</td>
                </tr>
                <tr>
                  <td>75 - 79</td>
                  <td>B-</td>
                  <td>2.67</td>
                </tr>
                <tr>
                  <td>70 - 74</td>
                  <td>C+</td>
                  <td>2.33</td>
                </tr>
                <tr>
                  <td>65 - 69</td>
                  <td>C</td>
                  <td>2</td>
                  <td rowspan="4">Satisfactory</td>
                </tr>
                <tr>
                  <td>60 - 64</td>
                  <td>C-</td>
                  <td>1.67</td>
                </tr>
                <tr>
                  <td>55 - 59</td>
                  <td>D+</td>
                  <td>1.33</td>
                </tr>
                <tr>
                  <td>50 - 54</td>
                  <td>D</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>25 - 49</td>
                  <td>FX</td>
                  <td>0</td>
                  <td rowspan="3">Unsatisfactory</td>
                </tr>
                <tr>
                  <td>0 - 24</td>
                  <td>F</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>0 - 24</td>
                  <td>F</td>
                  <td>0</td>
                </tr>
                <tr>
              </tbody>
            </table>

            <table class="table table-borderless">
              <tr>
                <td>C + (good) was commissioned in accordance with the order of the MES of the Republic of Kazakhstan No. 563 of October 12, 2018.<br />
Courses that are excluded from GPA calculation have following grades: P - Pass (50%-100%); NP - Not Pass (0%-49%).</td>
              </tr>
              <tr>
                <td>Furmulae for calculating grand and semester grade indicators:<br />
GPA = Sum of (Point * Credit) / Sum of Credits<br />
SPA = Sum of (Point * Credit) in semester / Sum of Credits in semester<br />
GA = Sum of (Grade * Credit) / Sum of Credits<br />
SA = Sum of (Grade * Credit) in semester / Sum of Credits in semester</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="print">
          <button type="button" onclick="window.print();">Print</button>
        </div>
      </div>
    </div>
  </div>
</div>
